<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>springmvc01</display-name>


  <!--定义一个Servlet-->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>cn.itcast.framework.controller.DispachServlet</servlet-class>

    <!--指定要扫描的包-->
    <init-param>
      <param-name>scann-package</param-name>
      <param-value>cn.itcast.controller</param-value>
    </init-param>

    <!--加载优先级配置-->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.shtml</url-pattern>
  </servlet-mapping>
  <!--//End Servlet结束-->


  <welcome-file-list>
    <welcome-file>index.shtml</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>