<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace="当前xml文件对应的dao的接口全限定名"
-->
<mapper namespace="com.itheima.mapper.UserMapper">



    <!--
        查询列表
    -->
    <select id="getList" resultType="com.itheima.domain.User">
        SELECT
          id,
          username,
          sex,
          birthday,
          address
        FROM  user
    </select>


    <!--
        查询总记录数
    -->
    <select id="getCount" resultType="int">
        SELECT  count(*) FROM  user
    </select>

</mapper>