<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:接口全限定名
-->
<mapper namespace="com.itheima.mapper.AccountMapper">


    <!--
        list
    -->
    <select id="list" resultType="com.itheima.domain.Account">
        SELECT * FROM  account
    </select>

</mapper>